<appSettings>
  <add key="MailServer" value="dev-smtp.vidly.com"/>
  <add key="FacebookAppId" value="237912990184246"/>
  <add key="FacebookAppSecret" value="395de2d205a17346fecba993d2a1c628"/>
  <add key="GoogleAppId" value="460755962950-nfuksi3id5blhu914ho2sg5ddhjvulr2.apps.googleusercontent.com"/>
  <add key="GoogleAppSecret" value="bsT7WGO7s9nW3zmy0r8gsaQY"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
